---
layout: base.njk
---
<article class="post">
    <h2>{{ title }}</h2>

   
    

    <div class="post-content">
        {{ content | safe }}
    </div>
</article>

<style>
    .post-meta {
        font-size: 1em;
        font-style: italic;
    }
</style>